<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Joe Averbukh{% endblock %}</title>
    {% include "common/header.tmpl" %} {# Meta tags and CDN content #}
    {% block styles %}
      {# template-specific styles go here #}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <script src="/static/js/all.min.js"></script>
    {% block scripts %}
      {# template-specific scripts go here #}
    {% endblock %}
  </body>
</html>
