{% extends 'iphone/root.tmpl' %}

{% block content %}
  <div id="content">
      <h2>About</h2>
      <p>Jonathan Stark is a web developer, speaker, and author. His consulting firm, Jonathan Stark Consulting, Inc., has attracted clients such as Staples, Turner Broadcasting, and the PGA Tour. ...</p>
      <div id="utility">
          <ul><li><a href="{{ url_for('.on_call') }}">On Call</a></li></ul>
      </div>
  </div>
{% endblock %}
