{% extends 'iphone/root.tmpl' %}

{% block content %}
  <div id="content">
      <h2>Development</h2>
      <div id="utility">
          <ul><li><a href="{{ url_for('.about') }}">About</a></li></ul>
      </div>
  </div>

{% endblock %}
