<div class="footer">
  <div class="container">
    <p class="footer-copyright">
      © Joe Averbukh.
      <br>
      Theme inspired by <a href="http://www.jacobian.org">Jacobian</a>
      <br>
      A <a href="http://www.github.com/nezaj/flask-blog">personal project</a> built with <a href="http://www.flask.pocoo.org">Flask</a>
    </p>
  </div>
</div>
