<div class="header">
  <div class="container">
    <div class="site-title-wrapper">
      <a rel="tipsy" title="Main Site" href="{{ url_for('public.welcome') }}" class="site-title button-square">Joe Averbukh</a>
      <div class="site-buttons">
        <a rel="tipsy" title="Blog Index" href="{{ url_for("blog.list") }}" class="button-square">
          <i class="fa fa-list"></i>
        </a>
        <a rel="tipsy" title="Github" href="http://www.github.com/nezaj" class="button-square">
          <i class="fa fa-github-alt"></i>
        </a>
        <a rel="tipsy" title="Linkedin" href="http://www.linkedin.com/in/joeaverbukh" class="button-square">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </div>
    </div>
  </div>
</div>
