<meta charset="utf-8">
<meta name="description" content="About Joe Averbukh">
<title>Joe Averbukh</title>

<!-- Load font-awesome for social icons from CDN -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Disable zoom on mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

{% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
