<title>Joe Averbukh</title>

<!-- Load font-awesome icons from CDN -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

{% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
