<title>Joe Averbukh</title>

<!-- Load font-awesome icons from CDN -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Load jquery from CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
