<title>Joe Averbukh</title>

<!-- Load bootstrap glyphicons from CDN -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

{% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
