@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\000036}}
body {
  font-size: 62.5%;
  background-color: #0082c8;
  color: white; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000313}}
  .greeting {
    font-size: 3.5rem;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif, futura, helvetica, arial,
        sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    margin-top: 30px;
    margin-bottom: 10px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000323}}
    .sub-greeting {
      font-size: 1rem;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 300;
      line-height: 1.1;
      color: inherit; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000331}}
      a {
        text-decoration: none;
        color: white; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000334}}
        a:visited {
          color: white; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000335}}
          a:hover {
            color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000338}}
.container {
  width: 90%;
  height: auto;
  margin: 5% auto;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000350}}
  @media (min-width: 481px) {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000350}}
    .headshot {
      width: 250px;
      height: 250px;
      margin: 0 auto;
      background-image: url("/static/img/headshot.jpg");
      background-size: 120%;
      overflow: hidden;
      border-radius: 125px;
      box-shadow: 0 0 0 10px white;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000366}}
@media (min-width: 320px) and (max-width: 480px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000366}}
  .headshot {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-image: url("/static/img/headshot.jpg");
    background-size: 120%;
    overflow: hidden;
    border-radius: 125px;
    box-shadow: 0 0 0 10px white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000381}}
.headline {
  font-size: 1.25rem;
  letter-spacing: 2px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000386}}
  .principles {
    margin-top: 30px;
    margin-bottom: 30px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000389}}
    .principles li {
      list-style-type: none;
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 1.75em;
      letter-spacing: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\0000399}}
.home-icons {
  margin-top: 20px;
  font-size: 3em; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeaverbukh\/Projects\/portfolio\/src\/static\/css\/welcome\.scss}line{font-family:\00003104}}
  .tipsy {
    font-size: 13px; }
