<!DOCTYPE html>
<html>
  <head>
    <title>Joe Averbukh - Books</title>
    <meta charset="utf-8"/>
    <meta name="description" content="About Joe Averbukh"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/vendor/readable-bootstrap.css">
    <style>
      body {
background-image: radial-gradient( circle farthest-corner at 18.7% 37.8%,  rgba(250,250,250,1) 0%, rgba(225,234,238,1) 90% );
      }
      ul {
        padding: 0;
      }
      li {
        list-style-type: none;
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 1px;
      }
      h3 {
        font-size: 1.5em;
      }

      .container {
        width: 90%;
        height: auto;
        margin: 5% auto;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      @media (min-width: 481px) {
          .headshot {
              width: 250px;
              height: 250px;
              margin: 0 auto;
              background-image: url("/static/img/headshot.jpg");
              background-size: 120%;
              overflow: hidden;
              border-radius: 125px;
              box-shadow: 0 0 0 5px white;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
          }
      }

      @media (min-width: 320px) and (max-width: 480px) {
          .headshot {
              width: 150px;
              height: 150px;
              margin: 0 auto;
              background-image: url("/static/img/headshot.jpg");
              background-size: 120%;
              overflow: hidden;
              border-radius: 125px;
              box-shadow: 0 0 0 5px white;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
          }
      }

      .headline {
          font-size: 1em;
          margin: 2em 0;
          letter-spacing: 1px;
      }

      .greeting {
          font-size: 3.5rem;
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif, futura, helvetica, arial, sans-serif;
          font-weight: 600;
          line-height: 1.1;
          color: inherit;
          margin: 30px 0;
      }

      .site-button {
          text-transform: uppercase;
          text-align: center;
          font-size: 14px;
          font-weight: 300;
          background: #4582ec;
          color: white;
          padding: 5px 7px;
          text-decoration: none;
      }
      .site-button:hover {
          background: black;
          color: white;
          border-bottom: 0;
          text-decoration: none;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="headshot"></div>
      <div class="greeting">Heya, I'm Joe!</div>
      <a href="{{ url_for('public.welcome') }}" class="site-button">Joe Averbukh</a>
      <div class="headline">This is where I list the books I've read</div>
      {{ content|markdownize }}
    </div>
  </body>
</html>
