{% extends 'common/layout.tmpl' %}

{% block styles %}
    {% assets "css_welcome" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="headshot"></div>
    <div class="greeting">Heya, I'm Joe!</div>
    <div class="headline">Three things I tell myself everyday:</div>
      <div class="principles">
        <li>Be present</li>
        <li>Be honest</li>
        <li>Be consistent</li>
    </div>
    <div class="sub-greeting">This is where all my stuff lives on the web</div>
    <div class="home-icons">
        <a rel="tipsy" title="Github" href="https://github.com/nezaj"><i class="fa fa-github"></i></a>
        <a rel="tipsy" title="Thoughts" href="http://nezaj-blog.herokuapp.com"><i class="fa fa-pencil"></i></a>
        <a rel="tipsy" title="Travels" href="http://joetravels.com"><i class="fa fa-plane"></i></a>
        <a rel="tipsy" title="LinkedIn" href="http://www.linkedin.com/in/joeaverbukh"><i class="fa fa-linkedin-square"></i></a>
    </div>
  </div>
{% endblock %}
